body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: ghostwhite;
}

.questionsBox {
    border: 2px solid black;
    padding: 30px 120px;
}

#category-One, #category-Two {
    padding: 20px;
}

#restart {
    padding: 5px;
}