@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-image: url('../photos/background.jpg');
    background-size: cover;
    background-position: center;  
    margin: 0;
    font-family: "Chicle", serif;
    font-weight: lighter;
    color: #495057;
    letter-spacing: 2px;
}

div {
    background-color: #e9ecef;
    border: 2px solid #6c757d;
    border-radius: 0px;
    box-shadow: 4px 4px 0 #6c757d, 8px 8px 0 #6c757d, 12px 12px 0 #6c757d;
    padding: 40px;
    margin: 30px 0;
    width: 440px;
    text-align: center;
    font-size: 20px;
}

.quiz-start h3 {
    font-size: 35px;
}
.quiz-start button {
    font-size: 25px;
}

#start-quiz {
    justify-content: center;
    align-items: center;
}

button {
    background: #e9ecef;
    padding: 6px 12px;
    border: 1px solid #6c757d;
    border-radius: 0px;
    box-shadow: 2px 2px 0 #6c757d, 4px 4px 0 #6c757d;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    font-family: "Chicle", serif;
    color: #6c757d;
}

button:hover {
    background-color: #ced4da;
}

audio {
    display: hidden;
}

#restart {
    display: block;
    padding: 5px 15px;
    margin: 20px auto 0 auto;
    background-color: #92989e;
    border: 1px solid #6c757d;
    color: white;
}

#restart:hover {
    background-color: #6c757d;
}